$heading-font-size: 1.5rem;
$heading-color: #111827;
$text-color: #4b5563;
$XtraSmallScreen: 320px;
// Color palette
$white: #ffffff;
$black: #000000;
$red: #ef4444;
$gray-600: #4b5563;
// Sizes
$icon-size: 4rem;
$radius-xl: 0.3rem;

// service-card
$primary-color: #000;
$secondary-color: #888;
$icon-border: #ccc;
